@charset "utf-8";

@import url("font-awesome.min.css");
@import url("framework.css");


/* Page Intro
--------------------------------------------------------------------------------------------------------------- */
#pageintro{padding:200px 0;}

#pageintro article{display:block; max-width:75%; margin:0 auto; text-align:center;}
#pageintro article *{word-wrap:break-word;}
#pageintro .heading{margin-bottom:20px; font-size:3rem;}
#pageintro p:first-of-type{display:block; max-width:75%; margin:0 auto 30px;}
#pageintro footer{margin-top:80px;}


/* Content Area
--------------------------------------------------------------------------------------------------------------- */
.container{padding:80px 0;}



/* Footer
--------------------------------------------------------------------------------------------------------------- */
#footer{padding:80px 0;}

#footer .heading{margin-bottom:50px; font-size:1.2rem;}




/* Colours
--------------------------------------------------------------------------------------------------------------- */
body{color:#CBCBCB; background-color:#2B2F32;}
a{color:#FE0000;}
a:active, a:focus{background:transparent;}/* IE10 + 11 Bugfix - prevents grey background */
hr, .borderedbox{border-color:#D7D7D7;}
label span{color:#FF0000; background-color:inherit;}
input:focus, textarea:focus, *:required:focus{border-color:#56AED4;}

.overlay{color:#FFFFFF; background-color:inherit;}
.overlay::after{color:inherit; background-color:rgba(0,0,0,.55);}
.overlay.light{color:#474747;}
.overlay.light::after{background-color:rgba(255,255,255,.8);}

.btn, .btn.inverse:hover{color:#FFFFFF; background-color:#FE0000; border-color:#FE0000;}
.btn:hover, .btn.inverse{color:inherit; background-color:transparent; border-color:inherit;}

.imgover:hover::before{background:rgba(0,0,0,.55);}
.imgover, .imgover:hover::after{color:#FFFFFF;}


/* Header */
#header a{color:inherit;}




/
}